div#top{background-color:#FFFFFF;height:20px;}
div#topcontent{margin-left:80%;font-family:Arial, Helvetica, sans-serif;cursor:pointer;color:#A0A0A4}
div#container{width:90%;margin-left:5%;margin-right:5%;}
div#headerTitle {background-color:#99bbbb;height:200px;background-image:url(../source/header.jpg)}
div#leftniv {background-color:rgb(45,230,189); height:350px; width:15%; float:left;margin-top:5px;}
div#content {background-color:rgb(45,230,189); height:350px; width:84.5%; float:left;margin-top:5px;margin-left:5px;}
div#footer {background-color:#99bbbb; clear:both; text-align:center;}
#probox{overflow:hidden;}
a{text-decoration:none;font-weight:bold;font-size:35px;color:#2A0000;width:auto;;font-family:"Microsoft Himalaya", "Microsoft New Tai Lue", "Microsoft PhagsPa", "Microsoft Sans Serif";}
a:link {color:#000000}
a:visited {color: #00FF00}
a:hover {color: #FF00FF}
a:active {color: #0000FF}
div#show{margin-left:6%;margin-right:auto;}
div#footer{margin-top:5px;background-color:#FFFFFF;}



